{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>人脸口罩识别系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all"  />
</head>

<body>
    <div class="w3l-signinform">
        <!-- container -->
        <div class="wrapper">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h1>人脸口罩识别系统</h1>
                    <h2>Forget Password</h2>
                    <form name="myform"  action="send" method="get">
                        <div class="input-group">
                            <span><i class="fa fa-email" aria-hidden="true"></i></span>
                            <input type="email" name="email" placeholder="Email" required="">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" name="submit1" value="获取">获取验证码</button>
                    </form>
                    <br>
                    <form name="myform"  action="find" method="get">
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" name="verification" placeholder="Vertification" required="">
                        </div>

                        <button class="btn btn-primary btn-block" type="submit" name="submit1" value="找回">找回账号密码</button>
                    </form>

                    <p class="account">想起密码了？ <a href={% url "login" %}>快去登陆</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">

        </div>
        <!-- footer -->
    </div>

</body>

</html>