{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <!-- site metas -->
   <title人脸口罩识别系统< /title>

      <!-- bootstrap css -->
      <link rel="stylesheet" href={% static "css/bootstrap.min.css" %} type="text/css ">
      <!-- style css -->
    <link rel="stylesheet" href={% static "css/styleLogin.css" %} type="text/css" media="all" />


</head>
<!-- body -->

<body class="main-layout template1">

   <!-- header -->
   <div class="header">
      <div class=" container">
         <div class="row">
            <div class="col-md-12">
               <div class="creative text_align_center"><h1>欢迎登陆</h1></div>
            </div>
         </div>
      </div>
   </div>
   <div class="mobile_section">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="demo_box text_align_center margino ">
                  <figure><img src={% static "image/mask.png" %} alt="#"></figure>
               </div>
            </div>
            <div class="col-md-12">
               <div class="creative text_align_center">
                  <h1> <span> 口罩识别系统 </span><br> <span>
                        <form action="videoOn" method="get" name="myform">
                           <input type="hidden" name="video" value="开视频">
                           <button name="video1">获取摄像头视频</button>
                        </form>
                     </span></h1>
                     <h2><span>
                     <form action="logout" method="get" name="myform">
                        <input type="hidden" name="logout" value="下线">
                        <button class='logoutButton' name="logout1">下线</button>
                      </form>
                        </span></h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>